In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [5]:
df = pd.read_csv("./archive/bs140513_032310.csv")
df.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0

In [6]:
# split the features and labels
label = df.fraud
features = df.drop('fraud', axis = 1)
features.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72

In [7]:
# check if empty values...
df.isnull().values.any()

False

In [8]:
features =  features.drop(['step', 'zipcodeOri', 'zipMerchant'], axis = 1)
features.head()

        customer  age gender       merchant             category  amount
0  'C1093826151'  '4'    'M'   'M348934600'  'es_transportation'    4.55
1   'C352968107'  '2'    'M'   'M348934600'  'es_transportation'   39.68
2  'C2054744914'  '4'    'F'  'M1823072687'  'es_transportation'   26.89
3  'C1760612790'  '3'    'M'   'M348934600'  'es_transportation'   17.25
4   'C757503768'  '5'    'M'   'M348934600'  'es_transportation'   35.72

In [9]:
features_dum = pd.get_dummies(features[['age', 'category', 'gender']])
features = pd.concat([features_dum,features],axis=1)

In [10]:
features.head()

,age_'0',age_'1',age_'2',age_'3',age_'4',age_'5',age_'6',age_'U',category_'es_barsandrestaurants',category_'es_contents',...,gender_'E',gender_'F',gender_'M',gender_'U',customer,age,gender,merchant,category,amount
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,'C1093826151','4','M','M348934600','es_transportation',4.55
1,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,'C352968107','2','M','M348934600','es_transportation',39.68
2,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,'C2054744914','4','F','M1823072687','es_transportation',26.89
3,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,'C1760612790','3','M','M348934600','es_transportation',17.25
4,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,'C757503768','5','M','M348934600','es_transportation',35.72

In [11]:
from sklearn.preprocessing import MinMaxScaler

# Initialize a scaler, then apply it to the features
scaler = MinMaxScaler()

features[[ 'amount' ]]=scaler.fit_transform(features[[ 'amount' ]])

# Show an example of a record with scaling applied
features.head()

,age_'0',age_'1',age_'2',age_'3',age_'4',age_'5',age_'6',age_'U',category_'es_barsandrestaurants',category_'es_contents',...,gender_'E',gender_'F',gender_'M',gender_'U',customer,age,gender,merchant,category,amount
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,'C1093826151','4','M','M348934600','es_transportation',0.000546
1,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,'C352968107','2','M','M348934600','es_transportation',0.004764
2,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,'C2054744914','4','F','M1823072687','es_transportation',0.003228
3,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,'C1760612790','3','M','M348934600','es_transportation',0.002071
4,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,'C757503768','5','M','M348934600','es_transportation',0.004288

In [12]:
features =  features.drop(['customer', 'merchant', 'age', 'gender', 'category'], axis = 1)
features.head()

,age_'0',age_'1',age_'2',age_'3',age_'4',age_'5',age_'6',age_'U',category_'es_barsandrestaurants',category_'es_contents',...,category_'es_sportsandtoys',category_'es_tech',category_'es_transportation',category_'es_travel',category_'es_wellnessandbeauty',gender_'E',gender_'F',gender_'M',gender_'U',amount
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0.000546
1,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0.004764
2,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0.003228
3,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0.002071
4,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0.004288

In [13]:
features.shape

(594643, 28)

In [14]:
from sklearn.model_selection import * 
from sklearn.metrics import fbeta_score, accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier

In [15]:
X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.33, random_state=42)

In [16]:
clfRandomForest = RandomForestClassifier(n_jobs=8)
clfRandomForest.fit(X_train,y_train)
    
predictionsRF = clfRandomForest.predict(X_test)
    
print(fbeta_score(y_test, predictionsRF, average='macro', beta=1))
print(accuracy_score(y_test, predictionsRF))
print(roc_auc_score(y_test, predictionsRF))

0.828645069816971
0.9920451707918648
0.8271722921249005

## Network feature

In [90]:
features_graph = pd.read_csv("./archive/bs140513_032310.csv")
features_graph.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0

In [91]:
# split the features and labels
label = features_graph.fraud
features_graph = features_graph.drop('fraud', axis = 1)
features_graph.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72

In [92]:
import networkx as nx
import matplotlib.pyplot as plt

# Build your graph
G = nx.from_pandas_edgelist(features_graph,'customer', 'merchant','amount', create_using=nx.DiGraph() )

In [93]:
r = nx.pagerank(G, alpha=0.9)

In [94]:
features_graph['custPR']= features_graph['customer'].map(r)

In [95]:
features_graph['merPR']= features_graph['merchant'].map(r)

In [96]:
features_graph.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,custPR,merPR
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0.000127,0.041857
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0.000127,0.041857
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0.000127,0.037224
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0.000127,0.041857
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0.000127,0.041857

In [97]:
h,a=nx.hits(G)

In [98]:
features_graph['custHITS_h']= features_graph['customer'].map(h)

In [99]:
features_graph['custHITS_a']= features_graph['customer'].map(a)

In [100]:
features_graph['merHITS_h']= features_graph['merchant'].map(h)

In [101]:
features_graph['merHITS_a']= features_graph['merchant'].map(a)

In [102]:
features_graph.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,custPR,merPR,custHITS_h,custHITS_a,merHITS_h,merHITS_a
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0.000127,0.041857,0.000140,-0.0,-0.0,0.082342
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0.000127,0.041857,0.000276,-0.0,-0.0,0.082342
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0.000127,0.037224,0.000305,-0.0,-0.0,0.078161
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0.000127,0.041857,0.000275,-0.0,-0.0,0.082342
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0.000127,0.041857,0.000291,-0.0,-0.0,0.082342

In [103]:
d = G.degree()

In [104]:
features_graph['custdegree']= features_graph['customer'].map(d)

In [105]:
features_graph['merdegree']= features_graph['merchant'].map(d)

In [106]:
features_graph.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,custPR,merPR,custHITS_h,custHITS_a,merHITS_h,merHITS_a,custdegree,merdegree
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0.000127,0.041857,0.000140,-0.0,-0.0,0.082342,7,3929
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0.000127,0.041857,0.000276,-0.0,-0.0,0.082342,12,3929
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0.000127,0.037224,0.000305,-0.0,-0.0,0.078161,14,3573
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0.000127,0.041857,0.000275,-0.0,-0.0,0.082342,11,3929
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0.000127,0.041857,0.000291,-0.0,-0.0,0.082342,14,3929

In [107]:
import networkx as nx
cn = nx.closeness_centrality(G)

In [108]:
features_graph['custcloseness']= features_graph['customer'].map(cn)

In [109]:
features_graph['mercloseness']= features_graph['merchant'].map(cn)

In [110]:
features_graph.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,custPR,merPR,custHITS_h,custHITS_a,merHITS_h,merHITS_a,custdegree,merdegree,custcloseness,mercloseness
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0.000127,0.041857,0.000140,-0.0,-0.0,0.082342,7,3929,0.0,0.944244
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0.000127,0.041857,0.000276,-0.0,-0.0,0.082342,12,3929,0.0,0.944244
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0.000127,0.037224,0.000305,-0.0,-0.0,0.078161,14,3573,0.0,0.858688
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0.000127,0.041857,0.000275,-0.0,-0.0,0.082342,11,3929,0.0,0.944244
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0.000127,0.041857,0.000291,-0.0,-0.0,0.082342,14,3929,0.0,0.944244

In [111]:
bt = nx.betweenness_centrality(G)

In [112]:
features_graph['custbetweenness']= features_graph['customer'].map(bt)

In [113]:
features_graph['merbetweenness']= features_graph['merchant'].map(bt)

In [114]:
features_graph.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,custPR,...,custHITS_h,custHITS_a,merHITS_h,merHITS_a,custdegree,merdegree,custcloseness,mercloseness,custbetweenness,merbetweenness
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0.000127,...,0.000140,-0.0,-0.0,0.082342,7,3929,0.0,0.944244,0.0,0.0
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0.000127,...,0.000276,-0.0,-0.0,0.082342,12,3929,0.0,0.944244,0.0,0.0
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0.000127,...,0.000305,-0.0,-0.0,0.078161,14,3573,0.0,0.858688,0.0,0.0
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0.000127,...,0.000275,-0.0,-0.0,0.082342,11,3929,0.0,0.944244,0.0,0.0
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0.000127,...,0.000291,-0.0,-0.0,0.082342,14,3929,0.0,0.944244,0.0,0.0

In [115]:
features_graph.columns

Index(['step', 'customer', 'age', 'gender', 'zipcodeOri', 'merchant',
       'zipMerchant', 'category', 'amount', 'custPR', 'merPR', 'custHITS_h',
       'custHITS_a', 'merHITS_h', 'merHITS_a', 'custdegree', 'merdegree',
       'custcloseness', 'mercloseness', 'custbetweenness', 'merbetweenness'],
      dtype='object')

In [116]:
features_graph.describe()

,step,amount,custPR,merPR,custHITS_h,custHITS_a,merHITS_h,merHITS_a,custdegree,merdegree,custcloseness,mercloseness,custbetweenness,merbetweenness
count,594643.000000,594643.000000,5.946430e+05,594643.000000,594643.000000,594643.0,594643.0,594643.000000,594643.000000,594643.000000,594643.0,594643.000000,594643.0,594643.0
mean,94.986827,37.890135,1.269572e-04,0.036773,0.000253,0.0,0.0,0.075362,11.385532,3503.242028,0.0,0.841923,0.0,0.0
std,51.053632,111.402831,1.355254e-19,0.007404,0.000049,0.0,0.0,0.014374,3.021612,678.885492,0.0,0.163154,0.0,0.0
min,0.000000,0.000000,1.269572e-04,0.000155,0.000021,-0.0,-0.0,0.000061,2.000000,3.000000,0.0,0.000721,0.0,0.0
25%,52.000000,13.740000,1.269572e-04,0.037224,0.000229,-0.0,-0.0,0.078161,9.000000,3573.000000,0.0,0.858688,0.0,0.0
50%,97.000000,26.900000,1.269572e-04,0.037224,0.000259,0.0,0.0,0.078161,11.000000,3573.000000,0.0,0.858688,0.0,0.0
75%,139.000000,42.540000,1.269572e-04,0.041857,0.000286,-0.0,-0.0,0.082342,13.000000,3929.000000,0.0,0.944244,0.0,0.0
max,179.000000,8329.960000,1.269572e-04,0.041857,0.000399,-0.0,-0.0,0.082342,31.000000,3929.000000,0.0,0.944244,0.0,0.0

In [117]:
scaler = MinMaxScaler()

features_graph[['amount', 'custPR', 'merPR', 'custHITS_h',
       'custHITS_a', 'merHITS_h', 'merHITS_a', 'custdegree', 'merdegree',
       'custcloseness', 'mercloseness', 'custbetweenness', 'merbetweenness']] = scaler.fit_transform(features_graph[['amount' , 'custPR', 'merPR', 'custHITS_h',
       'custHITS_a', 'merHITS_h', 'merHITS_a', 'custdegree', 'merdegree',
       'custcloseness', 'mercloseness', 'custbetweenness', 'merbetweenness']])

# Show an example of a record with scaling applied
features_graph.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,custPR,...,custHITS_h,custHITS_a,merHITS_h,merHITS_a,custdegree,merdegree,custcloseness,mercloseness,custbetweenness,merbetweenness
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',0.000546,0.0,...,0.314056,0.0,0.0,1.000000,0.172414,1.000000,0.0,1.000000,0.0,0.0
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',0.004764,0.0,...,0.674433,0.0,0.0,1.000000,0.344828,1.000000,0.0,1.000000,0.0,0.0
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',0.003228,0.0,...,0.752488,0.0,0.0,0.949192,0.413793,0.909322,0.0,0.909322,0.0,0.0
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',0.002071,0.0,...,0.671700,0.0,0.0,1.000000,0.310345,1.000000,0.0,1.000000,0.0,0.0
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',0.004288,0.0,...,0.713051,0.0,0.0,1.000000,0.413793,1.000000,0.0,1.000000,0.0,0.0

In [118]:
features_graph =  features_graph.drop(['step', 'customer', 'merchant'], axis = 1)
features_enhanced = pd.get_dummies(features_graph)

In [119]:
features_enhanced.shape

(594643, 42)

In [120]:
X_train, X_test, y_train, y_test = train_test_split(features_enhanced, label, test_size=0.33, random_state=42)

In [121]:
clfRandomForest = RandomForestClassifier(n_jobs=8)
clfRandomForest.fit(X_train,y_train)
    
predictionsRF = clfRandomForest.predict(X_test)
    
print(fbeta_score(y_test, predictionsRF, average='macro', beta=1))
print(accuracy_score(y_test, predictionsRF))
print(roc_auc_score(y_test, predictionsRF))

0.9196311524702457
0.9963818521859218
0.9051250492932853